@model IdentitySample.ViewModels.Account.SendTotpCodeViewModel

@{
    ViewData["Title"] = "Login by totp code";
}

<h1>Login</h1>

<div>
    <form asp-controller="Account" asp-action="SendTotpCode" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        @if (TempData["SendTotpCodeErrorMessage"] != null)
        {
            <div class="text-danger">@TempData["SendTotpCodeErrorMessage"].ToString()</div>
        }

        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">ارسال کد</button>
    </form>
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}